:root {
    --gap: 25px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 960px;
    --header-height: 100px;
    --footer-height: 60px;
    --radius: 18px;
    --theme: rgb(255, 255, 255);
    --entry: rgb(255, 255, 255);
    --primary: rgb(30, 30, 30);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(214, 214, 214);
    --gray: rgb(165, 165, 165);
    --content: rgb(30, 30, 30);
    --hljs-bg: rgb(28, 29, 33);
    --code-bg: #f3f3ee;
    --border: #eeeeee;
    --lightgreen: #ccffcc;
    --green: #ccff99;
    --blue: #05cfdd;
    --semibold: 500;
    --bold: 900;
    --homesize: 17px;
    --textsize: 15px;
    --h1size: 25px;
    --entrysize: 15px;
    --logosize: 21px;
    --headersize: 17px;
    --footersize: 14px;
    --lineheight: 1.4;
    --lineclamp: 8;
    --marginleft: 15px;

    /* --entry_background: linear-gradient(0deg, var(--blue), white, white, white); */
    --entry_background: var(--theme);
    --header_background: linear-gradient(to bottom,var(--green), var(--theme));

    /* NOTE: colours for the news section: */
    --2026: #ccff99;
    --2025: #ffe499;
    --2024: #99ffd1;
    --2023: #ff9999;
    --2022: #bbbbff;
    --2021: #d988ff;
    --2020: #93f879;

}

.dark {
    --theme: #2b2b2b;
    --entry: rgb(50, 50, 50);
    --primary: rgb(253, 253, 253);
    --secondary: rgb(174, 196, 156);
    --tertiary: rgb(65, 66, 68);
    --content: rgb(240, 240, 240);
    --hljs-bg: rgb(46, 46, 51);
    --code-bg: #1e1e1e;
    --border: rgb(51, 51, 51);
    --green: #9cc275;

    /* --header_background: linear-gradient(to bottom,var(--green), var(--theme)); */
    --header_background: linear-gradient(to bottom, var(--theme), var(--theme));

    /* --entry_background: linear-gradient(0deg, var(--blue), #222222, #222222, #222222); */

    /* NOTE: colours for the news section: */
    --2025: #2ba32b;
    --2024: #d56a38;
    --2023: #4747d7;
    --2022: #5dc596;
    --2021: #6f3a88;
    --2020: #d51717;

}

.list {
    background: var(--code-bg);
}

.main #content{
    background: var(--theme);
}

.dark.list {
    background: var(--theme);
}

/* .dark.list header nav {
    background:#245510;
} */

@font-face {
    font-family: 'Chiaro';
    src:
        url('../../fonts/chiaro.otf')
        format('opentype');
    font-weight: normal;
    font-style: normal;
}

